

<html>
    <head> <title>HAYOLO NGAPAIN DI SINI</title> </head>
    <body>
        <center>
            <p style="font-size: 2em;">
                NGAPAIN DISINI WOI, JANGAN DIHEK BRO AKU SUDAH PUSING
            </p>
            
            <img src="https://media.tenor.com/G465PtI9pbYAAAAC/critical-ops-we-do-a-little-trolling.gif" width="1920" height="1080" alt="MINIMAL PUNYA INTERNET BOSS">
        </center>
    </body>

    <script>
        const myTimeout = setTimeout(myGreeting, 5000);

        function myGreeting() {
            window.location.href = "/homepage/";
        }
    </script>
</html>